@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 26 26 26;
  --foreground: 250 250 250;
  --primary: 26 26 26;
  --secondary: 42 42 42;
  --accent: 58 58 58;
  --primary-foreground: 250 250 250;
  --secondary-foreground: 161 161 161;
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
}
